// Breakpoints
$breakSmall: "only screen and (max-width: 450px)";
$breakMedium: "only screen and (max-width: 940px)";
$breakLarge: "only screen and (max-width: 1024px)";

// Media Queries

@media #{$breakLarge} {
	.columnBox {
		@include columns(1);
	}
	.supporters {
		.columns {
			@include columns(2);
		}
	}
	.footer {
		.flexItem {
			text-align: center;
			width: 100%;
		}
	}
}

@media #{$breakMedium} {
	#spotlight {
		.flexItem {
			width: 100%;
		}
		
	}
	.supporters {
		.columns {
			@include columns(1);
		}
	}
	.details {
		p {
			display: none;
		}
	}
}

@media #{$breakSmall} {
	ol {
		width: 100%;
	}
	blockquote {
		position: inherit;
		&:before {
			display: none;
		}
	}
	.wrapper {
		width: 100%;
	}
	.menuBars {
		right: 0;
	}
	.columnBox {
		border: none;
		text-align: center;
		padding: 0;
		p + p {
			text-indent: 0px;
		}
		&::first-letter { 
			float: none; 
			font-size: 1em; 
			margin-right: 0;
			font-family: $baseFont;
		}
		img {
			&.floated {
				float: none;
				margin: 10px 0;
			}
		}
	}
	.header {
		.headerBox {
			margin-top: 200px;
		}
	}
	.nav {
		font-size: 0.75em;
	}
	.chart, .legend {
		margin: 0;
		text-align: center;
	}
	video {
		width: 100%;
	}
	
}



